body,p,div,ul,li,ol,dl,dd,dt,tr,td,table,input,img,filter,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
img{
  border:none;
}
ul,ol{
  list-style: none;
}
html,body{
  height:100%;
}
